table{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  }

  
.main-body {
  padding-top: 20px;
  margin: 0 auto;
  
}
  
.action {
  display: flex;
  gap: 5px;
}

.search-container{
  margin-top: 10px;
  margin-left: 20px;
  width: 100;
}

.paid{
  width: 10%;
  margin-right: 80%;
  margin-top: 10px;
  margin-left: 20px;
  width: 100;
}